@charset "UTF-8";
/* tamaños fuentes */
.font-s {
  font-size: 10px; }

.font-m {
  font-size: 20px; }

.font-l {
  font-size: 25px; }

.font-xl {
  font-size: 30px; }

.font-xxl {
  font-size: 40px; }

.font-xxxl {
  font-size: 60px; }

/*---------- reset--------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: 0 t; }

body {
  background-color: #c8b6ff !important;
  font-family: 'Outfit', sans-serif; }

.header {
  background-color: white;
  height: 80px;
  position: relative;
  box-shadow: 0 2px 5px grey;
  margin-bottom: 3.3rem; }
  .header__contenedor {
    max-width: 1700px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__directorio {
    display: flex;
    gap: 1rem;
    margin-bottom: 0; }
  .header--celular {
    display: none; }

ul {
  list-style: none;
  padding-left: 0; }

li a {
  text-decoration: none;
  font-size: 20px;
  display: inline-block;
  color: #c862ff; }
  li a:hover {
    color: black; }

.logo {
  height: 5vh; }

/* ---------------------------------- */
.contenido {
  margin: 0 auto;
  max-width: 1700px !important;
  background-color: white;
  background-image: url(../imagenes/fondo3.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 680px;
  border-radius: 10px;
  margin-bottom: 3.3rem;
  box-shadow: 2px 5px 5px grey;
  padding-top: 2rem;
  /*  Pag Nosotros */ }
  .contenido__titulo {
    font-size: 40px;
    border-bottom: #c8b6ff solid 1px;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 1rem; }
  .contenido__sub {
    padding: 1rem;
    text-align: center;
    margin: 0 auto; }
  .contenido__texto {
    font-size: 20px;
    max-width: 40rem;
    line-height: 1.5; }
  .contenido__derecha {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem; }
  .contenido__izquierda {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .contenido__imagen {
    width: 47%;
    border-radius: 10px;
    margin-bottom: 2rem;
    box-shadow: 0px 2px 5px black;
    margin: 0 auto;
    margin-top: 2rem; }
  .contenido--nosotros {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    max-width: 1700px; }
  .contenido__texto--alineado {
    font-size: 25px;
    margin-bottom: 2rem;
    margin-top: 2rem;
    max-width: 1000px; }

.tarjeta {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: 0 auto;
  background-color: white;
  box-shadow: 2px 5px 5px grey;
  width: 500px; }
  .tarjeta__link {
    text-decoration: none;
    color: white;
    border-radius: 10px;
    background-color: #c8b6ff;
    padding: 5px; }
    .tarjeta__link:hover {
      background-color: white;
      color: #c8b6ff;
      border: #c8b6ff solid 1px; }

.carousel {
  width: 100%;
  max-height: 550px; }

.carousel-item {
  max-height: 500px; }

.carousel-inner {
  height: 100%; }

/* -----productos-------------------------- */
.titulo__productos {
  font-size: 40px;
  padding: 1rem;
  max-width: 600px;
  width: 100%;
  border-bottom: #c8b6ff solid 1px;
  margin: 0 auto;
  text-align: center; }

.imagen__producto {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
  max-height: 1200px; }

.tarjeta__producto {
  padding: 1rem;
  text-align: center;
  box-shadow: 2px 5px 5px grey;
  background-color: white;
  border-radius: 10px; }
  .tarjeta__producto:hover {
    transform: scale(1.4);
    box-shadow: 0px 0px 30px -15px rgba(0, 0, 0, 0.5);
    transition: 750ms; }

.h1 {
  padding-top: 2rem; }

.contenido__productos {
  background-image: url(../imagenes/fondo4.png) !important; }

/* ---------preguntas------------ */
.pregunta {
  font-size: 30px;
  margin-top: 2rem; }

.respuesta {
  font-size: 20px;
  margin-top: 2rem; }

.contenido--alineado {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem; }

/* ----------Nosotros------------- */
.imagenes--nosotros {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  max-width: 1500px;
  gap: 15px;
  margin-bottom: 2rem; }

.proceso__titulo {
  margin-bottom: 1rem; }

.proceso {
  margin-bottom: 1.5rem; }

.iconos--nosotros {
  display: none; }

/* ---------contacto------- */
.formulario {
  margin: 0 auto;
  padding: 1rem;
  border: solid;
  background-color: #c8b6ff;
  border-radius: 10px;
  margin-bottom: 3rem;
  box-shadow: 0px 2px 5px black;
  position: relative;
  display: flex;
  flex-direction: column; }

h4 {
  font-size: 20px; }

.icono__font {
  color: black;
  font-size: 40px;
  margin: 5px; }

.icono__font:hover {
  color: #c862ff; }

.boton__formulario {
  background-color: #d173ff;
  border: 1px solid black;
  color: white;
  box-shadow: 2px 3px 2px grey; }
  .boton__formulario:hover {
    background-color: black;
    color: white;
    border: 1px solid black; }

.pie {
  background-color: white;
  height: 80px; }

.pie__contenedor {
  max-width: 1700px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }

/*----------------------- laptop sin que se rompa el titulo--------------------- */
@media screen and (max-width: 1500px) {
  .contenido__titulo {
    text-align: center; } }

/*---------------- tableta----------------- */
@media screen and (max-width: 1240px) {
  .header {
    height: auto; }
  .header__contenedor {
    flex-direction: column; }
  li a {
    margin-bottom: 10px; }
  .header__directorio {
    justify-content: center; }
  .contenido {
    flex-direction: column;
    width: auto;
    padding: 2rem;
    position: relative; }
  .contenido__derecha, .contenido__izquierda {
    width: 100%; }
  .contenido__izquierda {
    margin-bottom: 2rem;
    text-align: center; }
  .contenido__derecha {
    margin-bottom: 1rem; }
  .contenedor__tarjeta {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center; }
  .pie {
    height: auto; }
  .contenido {
    background-image: url(../imagenes/foondo.chico.png); }
  .imagen__producto:hover {
    transform: none; } }

/* -------------------------------chelular-------------------------- */
@media screen and (max-width: 700px) {
  .contenido p {
    font-size: 16px; }
  .header__directorio {
    flex-wrap: wrap; }
  .pie__contenedor {
    flex-direction: column; }
  .contenido__titulo {
    font-size: 6vh; }
  .imagenes--nosotros {
    flex-direction: column; }
  .contenido__imagen {
    width: 100%; }
  .header--celular {
    display: flex; }
  .header--compu {
    display: none; } }

@media screen and (max-width: 580px) {
  .video__instagram {
    display: none; }
  .iconos {
    font-size: 40px;
    display: inline-block; }
  .iconos i {
    color: black; }
  .iconos i:hover {
    color: black; } }
