@mixin crearFlex($eje-principal, $eje-secundiario) {
    display: flex;
    justify-content: $eje-principal;
    align-items: $eje-secundiario;
}

/* ---------------------------------- */
.contenido{
    margin: 0 auto;
    max-width: 1700px !important;
    background-color: $colorFondo;
    background-image: url(../imagenes/fondo3.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 680px;
    border-radius: 10px;
    margin-bottom: 3.3rem;
    box-shadow: 2px 5px 5px grey;
    padding-top: 2rem;
    &__titulo{
        font-size:40px;
        border-bottom: $colorPagina  solid 1px;
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
        padding: 1rem;
    }
    &__sub{
        padding: 1rem;
    text-align: center;
    margin: 0 auto;
    }
    &__texto{
        font-size: 20px;
        max-width: 40rem;
        line-height: 1.5;
    }
    &__derecha{
        width: 40%;
        @include crearFlex(center,center);
        padding-bottom: 2rem;
    }
    &__izquierda{
        width: 60%;
        @include crearFlex(center,center);
        flex-direction: column;
    } 
    /*  Pag Nosotros */
    &__imagen{
        width: 47%;
        border-radius: 10px;
        margin-bottom: 2rem;
        box-shadow: 0px 2px 5px black;
        margin: 0 auto;
        margin-top:2rem;
    }
    &--nosotros{
        @include crearFlex(center,center);
        flex-direction: column;
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
        max-width: 1700px;
    }
    &__texto--alineado{
        font-size: 25px;
        margin-bottom: 2rem;
        margin-top: 2rem;
        max-width: 1000px;
    }
}
.tarjeta{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 0 auto;
    background-color: $colorFondo;
    box-shadow: 2px 5px 5px grey;
    width: 500px;
    &__link{
        text-decoration: none;
        color: $colorFondo;
        border-radius: 10px;
        background-color: $colorPagina ;
        padding: 5px;
        &:hover{
            background-color: $colorFondo;
            color: $colorPagina ;
            border: $colorPagina  solid 1px;
        }
    }
}
.carousel{
    width: 100%;
    max-height: 550px;
}
.carousel-item{
    max-height: 500px;
}
.carousel-inner{
    height: 100%;
}
/* -----productos-------------------------- */
.titulo__productos{
    font-size: 40px;
    padding: 1rem;
    max-width: 600px;
    width: 100%;
    border-bottom: $colorPagina solid 1px;
    margin: 0 auto;
    text-align: center;
}
.imagen__producto{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    max-height: 1200px;
}
.tarjeta__producto{
    padding: 1rem;
    text-align: center;
    box-shadow: 2px 5px 5px grey;
    background-color: $colorFondo;
    border-radius: 10px;
    &:hover{
        transform: scale(1.4);
        box-shadow: 0px 0px 30px -15px rgba(0,0,0,0.5);
        transition: 750ms; 
    }
}
.h1{
    padding-top: 2rem;
}
.contenido__productos{
    background-image: url(../imagenes/fondo4.png) !important;
}
/* ---------preguntas------------ */
.pregunta{
    font-size: 30px;
    margin-top: 2rem;
}
.respuesta{
    font-size: 20px;
    margin-top: 2rem;
}
.contenido--alineado{
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
/* ----------Nosotros------------- */
.imagenes--nosotros{
    @include crearFlex(space-between,stretch);
    max-width: 1500px;
    gap: 15px;
    margin-bottom: 2rem;
}
.proceso__titulo{
    margin-bottom: 1rem;
}
.proceso{
    margin-bottom: 1.5rem;
}
.iconos--nosotros{
    display: none;
}
/* ---------contacto------- */
.formulario{
    margin: 0 auto;
    padding: 1rem;
    border: solid;
    background-color:$colorPagina ;
    border-radius: 10px;
    margin-bottom: 3rem;    
    box-shadow: 0px 2px 5px black;
    position: relative;
    display: flex;
    flex-direction: column;
 }
  h4{
     font-size: 20px;
 }
 .icono__font{
     color: black;
     font-size:40px ;
     margin: 5px;
 }
 .icono__font:hover{
     color: $colorNav ;
 }
 .boton__formulario{
     background-color: #d173ff;
     border: 1px solid black ;
     color: white;
     box-shadow: 2px 3px 2px grey;
     &:hover{
         background-color: black;
         color: white;
         border: 1px solid black;

     }
 }
 