.pie{
    background-color: white;
    height: 80px;   
}
.pie__contenedor{
    max-width: 1700px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}